.body_background{
    background-image: url("background.jpeg");
    background-position: center;
    background-size: cover;
}
label{
    font-size: 25px;
    color: aquamarine;
    background-color: black;
}
input{
    background-image: linear-gradient(to bottom right, rgb(178, 75, 194), hsla(187, 76%, 64%, 0.966));
    text-decoration: wavy;   
}
.login_div1,.login_div2{
    background-image: linear-gradient(to bottom right, #37f0ac, #a754eb);
    width: 40%;
    border: 5px dotted #eb5486;
    border-radius: 30px;
}
@keyframes example {
    from {background-color: pink;}
    to {background-color:lightblue;}
  }
  button{
    width: 100px;
    height: 100px;
    background-color:pink;
    animation-name: example;
    animation-duration: 4s;
  }